# Ghost Blog
# Settings > Integrations > CUSTOM INTEGRATIONS > Your App
# https://BLOG_URL/ghost/#/settings/integrations
GHOST_DOMAIN=YOUR_HOT_INTERNET_SITE_FQDN
GHOST_API_KEY='YOUR_CONTENT_API_KEY'
GHOST_ADMIN_KEY='YOUR_ADMIN_API_KEY'

# Warpcast Mnemonic phrase [12-24 words]
MNEMONIC_ENV_VAR="hotdog potato etc etc"
WARPCAST_CHANNEL=farcaster

# Bluesky
# Username is the email registered
BLUESKY_USERNAME="user@faang.org"
BLUESKY_PASSWORD="YOUR_SUPER_SECRET_PASSWORD"
