# Ghost Blog
# Settings > Integrations > CUSTOM INTEGRATIONS > Your App
# https://BLOG_URL/ghost/#/settings/integrations
GHOST_DOMAIN=YOUR_HOT_INTERNET_SITE_FQDN
GHOST_API_KEY='YOUR_CONTENT_API_KEY'
GHOST_ADMIN_KEY='YOUR_ADMIN_API_KEY'

# Twitter
# Your App Oauth keys
# https://developer.twitter.com/
CONSUMER_KEY='YOUR_API_KEY'
CONSUMER_SECRET='YOUR_API_KEY_SECRET'
OAUTH_TOKEN='YOUR_ACCESS_TOKEN'
OAUTH_TOKEN_SECRET='YOUR_ACCESS_TOKEN_SECRET'

# Mastodon
# Settings > Development > Your App > "Your access token"
# https://YOUR_INSTANCE/settings/applications
ACCESS_TOKEN=YOUR_SUPER_SECRET_KEYS
MASTODON_INSTANCE='MASTODON_INSTANCE_TO_POST_TO'

# Warpcast Mnemonic phrase [12-24 words]
MNEMONIC_ENV_VAR="hotdog potato etc etc"
WARPCAST_CHANNEL=farcaster
