# Ghost Blog
# Settings > Integrations > CUSTOM INTEGRATIONS > Your App
# https://BLOG_URL/ghost/#/settings/integrations
export GHOST_DOMAIN=YOUR_HOT_INTERNET_SITE
export GHOST_API_KEY='YOUR_SUPER_SECRET_KEYS'
export GHOST_ADMIN_KEY='YOUR_SUPER_SECRET_KEYS'

# Twitter
# Your App Oauth keys
# https://developer.twitter.com/
export CONSUMER_KEY='YOUR_SUPER_SECRET_KEYS'
export CONSUMER_SECRET='YOUR_SUPER_SECRET_KEYS'
export OAUTH_TOKEN='YOUR_SUPER_SECRET_KEYS'
export OAUTH_TOKEN_SECRET='YOUR_SUPER_SECRET_KEYS'

# Mastodon
# Settings > Development > Your App > "Your access token"
# https://YOUR_INSTANCE/settings/applications
export ACCESS_TOKEN=YOUR_SUPER_SECRET_KEYS
export MASTODON_INSTANCE='MASTODON_INSTANCE_TO_POST_TO'